<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="text-align: center;padding: 10%;">
        <h2>AscentIQ Technicalhube</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>Contact us for more details regarding web , App and Game developementt or for other information</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"  style ="background-color: aqua;"data-aos="fade-up" data-aos-delay="100">
          <h3>Contact us for more details regarding web , App and Game developementt or for other information</h3>
          <p class="font-italic">
             it is one of the leading engineering works and service
              facility management company one of the best in India , with huge based 
              of client across industries. The company enjoys and excellent reputation
               for being capable
               and trustworthy corporate support engineering works and service provider.
               It strives to deliver unmatched engineering works services in the many industry
                ,with continuously enhanced their skill training and capabilities.
               The company boast of highly talented team, cutting edge system, and innovative skill 
               training sets enabling the client to avail unparalleled engineering works and services
               mainly in the site field of facility management company staffing , payroll management 
               and allied works and services.
            
          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5> we are highly  skill and Experienced team of web development</h5>
                <p>angular,node.js, react.js, react-native ,asp.net.core,php,python,django,java, we have all type of developer.</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
             
            </li>
          </ul>
          
        </div>
      </div>

    </div>
  </section><br>
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title" style="text-align: center;padding: 10%;">
        <h2>Team</h2>
        <h3>Our Hardworking <span>Team</span></h3>
        <p> we have  experiance and highly tilented teams.</p>
      </div>

      <div class="row" style="padding: 5%;">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300" >
          <div class="member">
            <div class="member-img">
              <img src="assets/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>